{%- load_yaml as base_defaults %}

Debian:
  pkgs:
    - panko-api
  cacert_file: '/etc/ssl/certs/ca-certificates.crt'
  logging:
    log_appender: false
    log_handlers:
      watchedfile:
        enabled: true

{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('panko:server')) %}
