Source: salt-formula-panko
Maintainer: Petr Jediný petr.jediny@gmail.com
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: https://github.com/salt-formulas
Vcs-Browser: https://github.com/salt-formulas/salt-formula-panko
Vcs-Git: https://github.com/salt-formulas/salt-formula-panko.git

Package: salt-formula-panko
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: panko salt formula
 Install and configure panko system.
